<tr>
    {{#each fields}}
        {{#if actions}}
            {{#unless ../noActions}}
                <td>
                    {{#each ../this.actions}}
                    <a href="{{href}}" class="action" {{#if target}}target="{{target}}"{{/if}}>{{title}}</a>
                    {{/each}}
                </td>
            {{/unless}}
        {{else}}
            <td>
                {{#if meta}}
                    {{#if url}}
                        <a href="{{#if prefix}}{{prefix}}{{/if}}{{lookup ../this this.property}}">{{title}}</a>
                    {{else}}
                        {{lookup ../this this.property}}
                    {{/if}}
                {{else}}
                    {{lookup ../this.data this.property}}
                {{/if}}
            </td>
        {{/if}}
    {{/each}}
</tr>