{{#if field.label}}
    <label for="{{field.id}}" class="{{#if field.error}}error{{/if}}">
        {{field.label}}
        {{#if field.description}}
        <span class="shower">
            <i class="fa fa-question" aria-hidden="true"></i>
            <div class="description hide shower-target">
                {{field.description}}
            </div>
        </span>
        {{/if}}
    </label>
{{/if}}

<select id="{{field.id}}" name="{{field.name}}" class="{{#if field.error}}error{{/if}} {{field.property}} {{field.class}}" {{#if field.readonly}}disabled{{/if}}>
    <option value="">{{#if field.placeholder}}{{field.placeholder}}{{/if}}</option>
    {{#each field.options}}
        {{option.selected}}
        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{title}}</option>
    {{/each}}
<select>

{{#if field.error}}
<div class="error">
    {{field.error}}
</div>
{{/if}}