<form action="{{{form.action}}}" id="{{form.id}}" method="{{form.method}}" enctype="{{form.enctype}}" class="pure-form pure-form-stacked {{form.model.name}}">

    <fieldset>

        {{#if form.errors.length}}
        <div class="errors">
            {{#each form.errors}}
            <div class="error">
                {{this}}
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{#each form.fields}}
            {{>form/field-row fields=this}}
        {{/each}}

    </fieldset>
    {{#if form.redirect}}
    <input type="hidden" name="redirect" value="{{form.redirect}}" />
    {{/if}}
    {{#if form.submit}}
    <fieldset>

        <button type="submit" class="pure-button pure-button-primary">
            {{form.submit.title}}
        </button>

    </fieldset>
    {{/if}}

</form>